src/main/app/example4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" database="test" doc:name="MySQL Configuration"/>
    <flow name="example4Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flow4" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="age" value="18" doc:name="Variable"/>
        <logger message="#['Search age: ' +flowVars.age]" level="INFO" doc:name="Logger"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select count(*) as numpersons from user where age < 18;]]></db:parameterized-query>
        </db:select>
        <logger message="#['Count Persons: ' + message.payload[0].numpersons]" level="INFO" doc:name="Logger"/>
        <db:update config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[update user set age=age+1 where age < 18;]]></db:parameterized-query>
        </db:update>
        <set-payload value="OK" doc:name="Set Payload"/>
    </flow>
</mule>
