src/main/app/example6.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="example6Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flow6" allowedMethods="POST" doc:name="HTTP"/>
        <logger message="#[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <invoke object-ref="util" method="getError" methodArguments="#[json:status]" methodArgumentTypes="java.lang.Integer" doc:name="Invoke"/>
        <exception-strategy ref="ChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <choice-exception-strategy name="ChoiceExceptionStrategy">
        <catch-exception-strategy when="#[exception.causedBy(java.lang.ArithmeticException)]" doc:name="Catch Exception Strategy">
            <logger message="Obtain Exeception Personalization  #[exception.cause]" level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="Obtain Exeception General  #[exception.cause]" level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </choice-exception-strategy>
</mule>
